* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }

html, body, .container {
  height: 100%;
  background-color: #f7f9f8; }

@font-face {
  font-family: 'Red Moon Rising';
  src: url("../fonts/Red-Moon-Rising-3.0tf"); }
h1, h2, h4, h5 {
  font-family: "Oswald", sans-serif; }

h3, p {
  font-family: "Open Sans", sans-serif; }

header {
  background-image: url(../img/sands.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around; }
  header h1 {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    letter-spacing: .1em;
    font-size: 42px;
    text-transform: uppercase; }
    header h1 :hover {
      cursor: pointer;
      -webkit-text-stroke: 2px #47e5bc;
      letter-spacing: .4em;
      transition: ease-in-out 0.5s; }
  header a {
    text-decoration: none;
    color: inherit; }
  header .navbar {
    height: 160px;
    width: 60%;
    margin: 0 auto; }
    header .navbar ul {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      flex-direction: row; }
      header .navbar ul li {
        display: inline-block;
        letter-spacing: .2em;
        position: relative;
        padding: 5px;
        color: mintcream;
        cursor: pointer; }
        header .navbar ul li::before, header .navbar ul li::after {
          position: absolute;
          opacity: 0;
          width: 0%;
          height: 2px;
          content: '';
          background: linear-gradient(to right, turquoise, silver, mistyrose, hotpink);
          transition: all 0.3s; }
        header .navbar ul li::before {
          left: 0px;
          top: 2px; }
        header .navbar ul li::after {
          right: 0px;
          bottom: 0px; }
        header .navbar ul li:hover::before, header .navbar ul li:hover::after {
          opacity: 1;
          width: 100%; }
      header .navbar ul a {
        text-decoration: none;
        color: inherit; }

.about {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh; }
  .about .profile-image {
    position: relative;
    margin-left: 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 650px;
    height: 650px; }
    .about .profile-image img {
      position: relative;
      left: 40px;
      top: 40px; }
      .about .profile-image img:hover {
        opacity: 0.8; }
    .about .profile-image .title {
      width: 500px;
      height: 130px;
      background-color: rgba(71, 229, 188, 0.5);
      margin-left: 220px;
      margin-top: -30px;
      display: flex; }
      .about .profile-image .title :first-of-type {
        margin-left: -40px; }
      .about .profile-image .title h3 {
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding-left: 15px;
        padding-top: 15px; }
      .about .profile-image .title img {
        height: 40px; }
  .about .about-info {
    width: 300px;
    padding: 10px; }
    .about .about-info h2 {
      border-bottom: solid 1px black;
      text-transform: uppercase;
      color: white;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
      letter-spacing: .1em;
      font-size: 35px;
      text-transform: uppercase;
      letter-spacing: .1em; }
      .about .about-info h2 :hover {
        cursor: pointer;
        -webkit-text-stroke: 2px #47e5bc;
        letter-spacing: .4em;
        transition: ease-in-out 0.5s; }
      .about .about-info h2 :hover {
        cursor: pointer;
        letter-spacing: .3em;
        transition: ease-in .3s; }
    .about .about-info .links {
      margin: 0 auto; }
      .about .about-info .links ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        justify-content: space-between;
        flex-direction: row; }
        .about .about-info .links ul li {
          display: inline-block;
          margin: 10px 0;
          letter-spacing: .1em;
          color: #dda6d0;
          position: relative;
          cursor: pointer; }
          .about .about-info .links ul li :hover {
            background-color: #ffe8d1; }
        .about .about-info .links ul a {
          text-decoration: none;
          color: inherit; }
    .about .about-info p {
      margin-top: 30px;
      font-size: 16px; }
      .about .about-info p #intro {
        font-weight: bold;
        font-size: 18px; }

.social-icons {
  display: flex;
  flex-direction: column; }
  .social-icons img {
    width: 50px;
    margin: 20px 0; }

.work {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/sand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px; }
  .work h2 {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    letter-spacing: .1em; }
    .work h2 :hover {
      cursor: pointer;
      -webkit-text-stroke: 2px #47e5bc;
      letter-spacing: .4em;
      transition: ease-in-out 0.5s; }
    .work h2 a {
      text-decoration: none;
      color: inherit;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white; }

.cards {
  width: 70%;
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 15px 70px;
  justify-items: center;
  align-content: stretch; }
  .cards .card {
    overflow: hidden;
    margin-top: 30px;
    padding: 5px;
    background: rgba(221, 166, 208, 0.5);
    border: 3px solid #dda6d0; }
    .cards .card .card-image img {
      width: 100%;
      display: block; }
    .cards .card .card-header {
      width: 100px;
      padding: 10px 0;
      background-color: rgba(221, 166, 208, 0.7);
      position: absolute;
      bottom: -10px;
      left: 40%; }

.contact {
  background-color: #ffe8d1;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contact .form {
    background-color: #f7f9f8;
    border: solid 1px black;
    display: grid;
    justify-items: center;
    width: 40%;
    padding: 20px; }
    .contact .form h1 {
      text-transform: uppercase;
      color: white;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
      letter-spacing: .1em;
      font-size: 42px;
      margin-bottom: 20px; }
      .contact .form h1 :hover {
        cursor: pointer;
        -webkit-text-stroke: 2px #47e5bc;
        letter-spacing: .4em;
        transition: ease-in-out 0.5s; }
    .contact .form input, .contact .form textarea {
      padding-top: 5px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: lighter;
      border: none;
      font-family: "Open Sans", sans-serif;
      border-bottom: 1px solid black; }
    .contact .form button {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      background: #ffe8d1;
      padding: 10px; }

/*# sourceMappingURL=output.css.map */
