body {
  margin-top: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Oswald", sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

header {
  background-image: url(../img/sands.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around; }
  header h1 {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-size: 42px;
    text-transform: uppercase; }
  header .navbar {
    height: 160px;
    width: 60%;
    margin: 0 auto; }
    header .navbar ul {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      flex-direction: row; }
      header .navbar ul li {
        display: inline-block;
        color: #dda6d0;
        position: relative;
        cursor: pointer; }
        header .navbar ul li::before, header .navbar ul li::after {
          position: absolute;
          opacity: 0;
          width: 0%;
          height: 2px;
          content: '';
          background: linear-gradient(to right, #ffe8d1, #dda6d0, #47e5bc, #81e4da);
          transition: all 0.4s; }
        header .navbar ul li::before {
          left: 0px;
          top: 0px; }
        header .navbar ul li::after {
          right: 0px;
          bottom: 0px; }
        header .navbar ul li:hover::before, header .navbar ul li:hover::after {
          opacity: 1;
          width: 100%; }
      header .navbar ul a {
        text-decoration: none;
        color: inherit; }

.about {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .about .profile-image {
    position: relative;
    margin-left: 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 650px;
    height: 650px; }
    .about .profile-image img {
      position: relative;
      left: 40px;
      top: 40px;
      z-index: -1; }
    .about .profile-image .title {
      width: 500px;
      height: 130px;
      background-color: rgba(71, 229, 188, 0.5);
      margin-left: 220px;
      margin-top: -50px;
      z-index: -1000; }
      .about .profile-image .title h3 {
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding-left: 15px;
        padding-top: 15px;
        margin-left: -40px; }
  .about .about-info {
    width: 300px;
    padding: 10px; }
    .about .about-info h2 {
      border-bottom: solid 3px #dda6d0;
      color: white;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
      font-size: 42px;
      text-transform: uppercase; }
    .about .about-info p {
      font-size: 18px; }

.location {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -35px;
  margin-left: 130px;
  z-index: 200; }
  .location img {
    height: 40px; }

.social-icons {
  display: flex;
  flex-direction: column; }
  .social-icons img {
    width: 50px;
    margin: 20px 0; }

/*# sourceMappingURL=output.css.map */
