@mixin tablet-bp {
  @media #{$tablet-bp} {
    @content;
  }
}
@mixin desktop-bp {
  @media #{$desktop-bp} {
    @content;
  }
}

@mixin block-letters {
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
  letter-spacing: .1em;
  :hover {
    cursor: pointer;
    -webkit-text-stroke: 2px $seafoam;
    letter-spacing: .4em;
    transition: ease-in-out 0.5s;
  }
}
