//main colors
$lilac: #dda6d0;
$seafoam: #47e5bc;
$seablue: #81e4da;
$barbiedoll: #ffe8d1;

//fonts
$main-font: 'Oswald', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$moon-font: 'Red Moon Rising';


//screen sizes
$tablet-bp: 'screen and (max-width: 768px)';
$desktop-bp: 'screen and (min-width: 992px)';
