.about {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .profile-image {
    position: relative;
    margin-left: 50px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 650px;
    height: 650px;
    img {
      position: relative;
      left: 40px;
      top: 40px;
      z-index: -1;
    }
    .title {
      width: 500px;
      height: 130px;
      background-color: rgba(71, 229, 188, .5);
      margin-left: 220px;
      margin-top: -30px;
      display: flex;
      :first-of-type {
        margin-left: -40px;
      }
      h3 {
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding-left: 15px;
        padding-top: 15px;
      }
      img {
        height: 40px;
      }
    }
  }
  .about-info {
    width: 300px;
    padding: 10px;
    h2 {
      border-bottom: solid 1px black;
      @include block-letters;
      font-size: 35px;
      text-transform: uppercase;
      letter-spacing: .1em;
      :hover {
        cursor: pointer;
        letter-spacing: .3em;
        transition: ease-in .3s;
      }
    }
    .links {
      margin: 0 auto;
      ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        justify-content: space-between;
        flex-direction: row;
        li {
          display: inline-block;
          margin: 10px 0;
          letter-spacing: .1em;
          color: $lilac;
          position: relative;
          cursor: pointer;
          :hover {
            background-color: $barbiedoll;
          }
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
    p {
      margin-top: 30px;
      font-size: 16px;
      #intro {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}



.social-icons {
  display: flex;
  flex-direction: column;
  img {
    width: 50px;
    margin: 20px 0;
  }
}
