.contact {
  background-color: $barbiedoll;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form {
    background-color: #f7f9f8;
    border: solid 1px black;
    display: grid;
    justify-content: center;
    width: 300px;
    padding: 20px;
    h1 {
      @include block-letters;
      font-size: 42px;
      margin-bottom: 20px;
      text-shadow:
        4px -4px 0 $barbiedoll,
    	 -4px  4px 0 $seafoam;
    }
    input, textarea {
      padding-top: 5px;
      margin-bottom: 20px;
      width: 100%;
      font-size: 20px;
      font-weight: lighter;
      border: none;
      font-family: $secondary-font;
      border-bottom: 1px solid #35363a;
    }
    button {
      font-family: $main-font;
      font-size: 20px;
      text-transform: uppercase;
      background: $barbiedoll;
      padding: 10px;
      border: 1px solid black;
      cursor: pointer;
      transition: background-color 1s ease;
      &:hover {
        background-color: $seafoam;
      }
    }
  }
}

@media #{$tablet-bp} {
  .contact {
    .form {
      width: 40%;
      input, text-area {
        width: 100%;
      }
    }
  }
}
