.contact {
  background-color: $barbiedoll;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form {
    background-color: #f7f9f8;
    border: solid 1px black;
    display: grid;
    justify-items: center;
    width: 40%;
    padding: 20px;
    h1 {
      @include block-letters;
      font-size: 42px;
      margin-bottom: 20px;
    }
    input, textarea {
      padding-top: 5px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: lighter;
      border: none;
      font-family: $secondary-font;
      border-bottom: 1px solid #35363a;
    }
    button {
      font-family: $main-font;
      font-size: 20px;
      text-transform: uppercase;
      background: $barbiedoll;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: $seafoam;
        color: mintcream;
      }
    }
  }
}

@media #{$tablet-bp} {
  .contact {
    .form {
      width: 300px;
      input, text-area {
        width: 90%;
      }
    }
  }
}
