header {
  background-image: url(../img/sands.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  h1 {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    @include block-letters;
    font-size: 42px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .navbar {
    height: 160px;
    width: 60%;
    margin: 0 auto;
    ul {
      height: 100%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      flex-direction: row;
      li {
        display: inline-block;
        letter-spacing: .2em;
        position: relative;
        padding: 5px;
        color: mintcream;
        cursor: pointer;
        &::before, &::after {
          position: absolute;
          opacity: 0;
          width: 0%;
          height: 2px;
          content: '';
          background: linear-gradient(to right, $seafoam, silver, $barbiedoll, hotpink);
          transition: all 0.3s;
        }
        &::before {
          left: 0px;
          top: 2px;
        }
        &::after {
          right: 0px;
          bottom: 0px;
        }
        &:hover::before, &:hover::after {
          opacity: 1;
          width: 100%;
        }
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media #{$tablet-bp} {
  header {
    .navbar {
      width: 300px;
      ul {
        li {
          margin: 20px;
        }
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
