.about-project {
  margin: 10px auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  @media #{$desktop-bp} {
    flex-direction: row;
    height: 100vh;
  };
  #project-image {
    border: none;
    width: 400px;
    min-width: 350px;
    @media #{$desktop-bp} {
      width: 40%;
    };
    // img {
    //   position: relative;
    //   width: 100%;
    //   left: 0;
    //   top: 0;
    //
    //   @media #{$desktop-bp} {
    //     left: 40px;
    //     top: 40px;
    //   };
    // }
  }
}

.project-info {
  width: 350px;
  padding: 10px;
  h2 {
    border-bottom: solid 1px black;
    @include block-letters;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    text-shadow:
      4px -4px 0 $barbiedoll,
  	 -4px  4px 0 $seafoam;
    @media #{$desktop-bp} {
      text-align: left;
    }
  }
  .project-links {
    margin: 0 auto;
    ul {
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      justify-content: space-between;
      flex-direction: row;
      li {
        font-size: 24px;
        display: inline-block;
        margin: 10px 0;
        letter-spacing: .1em;
        color: $lilac;
        position: relative;
        cursor: pointer;
        transition: background-color 1s;
        &::before, &::after {
          position: absolute;
          opacity: 0;
          width: 0%;
          height: 1px;
          content: '';
          background: black;
          transition: all 0.5s;
        }
        &::before {
          left: 0px;
          top: 2px;
        }
        &::after {
          right: 0px;
          bottom: -4px;
        }
        &:hover::before, &:hover::after {
          opacity: 1;
          width: 100%;
        }
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  p {
    margin-top: 30px;
    text-align: justify;
    letter-spacing: .1em;
    #intro {
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.arrow-icons {
  display: flex;
  flex-direction: row-reverse;
  >* {padding-left: 15px;}
  >* {padding-right: 10px;}
  @media #{$desktop-bp} {
    flex-direction: column;
    padding: 10px 0;
  };
  img {
    width: 50px;
    margin: 20px 0;
  }
  #next {
    @media #{$desktop-bp} {
      transition: 2s ease-out;
      &:hover {
        transform: rotate(20deg);
      }
    };
  }
  #back {
    @media #{$desktop-bp} {
      transition: 2s ease-out;
      &:hover {
        transform: rotate(-20deg);
      }
    };
  }
}
