.work {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/sand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 1200px;
  h2 {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    @include block-letters;
    a {
      text-decoration: none;
      color: inherit;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
    }
  }
}

.cards {
  width: 90%;
  margin: 30px auto 0;

  @include grid-container;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  .card {
    position: relative;
    // flex: 1;
    min-height: 250px;
    max-height: 465px;
    // max-height: 250px;
    overflow: hidden;
    // position: relative;
    margin-top: 30px;
    border: 1px solid $lilac;
    @include grid-column(12);
    @include tablet-bp {
      @include grid-column(6);
    };
    @include desktop-bp {
      @include grid-column(6);
    };
    .card-image {
      img {
        width: 100%;
        display: block;
      }
    }
    .card-header {
      width: 100px;
      padding: 10px 0;
      background-color: rgba(221, 166, 208, 0.7);
      position: absolute;
      bottom: -10px;
      left: 40%;

      h5 {
        text-align: center;
      }
    }
  }
  .mc {
    height: 462px;
    }
  }
