.work {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/sand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #35363a;
  h2 {
    align-self: center;
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
    @include block-letters;
    a {
      text-decoration: none;
      color: inherit;
      -webkit-text-stroke: 1px black;
      -webkit-text-fill-color: white;
    }
  }
}

.cards {
  width: 70%;
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 15px 70px;
  justify-items: center;
  align-content: stretch;

  .card {
    overflow: hidden;
    margin-top: 30px;
    padding: 5px;
    background: rgba(255,232,209,0.5);
    border: 1px solid $barbiedoll;
    position: relative;

    .card-image {
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .card-info{
      position: absolute;
      top: 80%;
      height: 100%;
      width: 100%;
      font-family: $main-font;
      color: lilac;
      background-color: $barbiedoll;
      opacity: 0.7;
      -ms-transition: -ms-transform 0.75s;
      -webkit-transition: transform 0.75s;
      transition: transform 0.75s;
      &:hover {
        -ms-transform: translateY(-80%);
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
        opacity: 1;
      }
      .card-header {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 24px;
        height: 20%;
        text-align: center;
      }
      .card-copy {
        font-family: $secondary-font;
        padding: 18px;
        text-align: justify;
        >* {padding-top: 10px;}
        :first-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media #{$tablet-bp} {
  .cards {
    grid-template-columns: 1fr;
    .card {
      overflow: scroll;
      .card-info {
        .card-header {
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 20px;
        }
        .card-copy {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}
